/*--------------------------------------------------
    [Spinbox]
----------------------------------------------------*/

.spinbox {
    @include position(relative);
    display: inline-block;
    
    &.disabled {
        .spinbox-buttons {
            cursor: not-allowed;
        }
    }
    
    .spinbox-input {
        float: left;
        @include font($size: $font-size-15);
        text-align: center;
        border: none;
        padding-left: 12px;
        
        &::-ms-clear {
            display: none;
        }
    }
    
    .spinbox-btn {
        padding: 10px 8px;

        &:focus,
        &:active,
        &:hover {
            color: inherit;
            background: transparent;
            border-color: transparent;
        }

        &:hover {
            color: $color-base;
        }

        &.disabled {
            cursor: not-allowed;
        }
    }
    
    .spinbox-btn-right {
        @include position(absolute, $top: 1px, $right: 1px);
    }

    .spinbox-btn-left {
        @include position(absolute, $top: 1px, $left: 1px);
    }
    
    .spinbox-btn-icon {
        @include font($size: $font-size-10);
    }
}
